h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: capitalize;
  margin-bottom: 4px;
}

input {
  display: inline-block;
}

button {
  background-color: #c5c5c5;
  padding: 5px 10px;
}

button,
input {
  min-height: 40px;
}

body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 4px;
}

body {
  background-color: #111111;
}