body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.ut-label {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: end;

  &>.colon {
    margin: 0 4px;
  }
}

.ut {

  button,
  input {
    border-width: 2px;
    padding: 8px 12px;
    margin: 4px 4px 4px 0;
  }

  button {
    background-color: #353535;

    &:hover {
      color: #9afc8d;
      background-color: #434343;
    }
  }
}